/* color 
#2392D1 kindOfBlue
#E1E7EF lightgray
*/

/* font
font-family: 'Roboto', sans-serif;
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #ffffff;
}

header {
  background-color: #ffffff;
  grid-column: 3 / span 9;
  grid-row: 1;
  /* grid container */
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 3fr;
  align-items: center;
  padding-left: 40px;
  box-shadow: 0px 4px 5px rgb(0, 0, 0, 0.2);
  z-index: 1;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-icon {
}

.searchbar {
  width: 40vw;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #e1e7ef;
}

.alarm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  /* grid-column: 2 / 3; */
  /* grid-row: 1; */
}

.admin-name img {
  float: left;
  margin-right: 30px;
}

.text {
  padding: 10px;
}

.header-menu {
  display: flex;
  justify-content: flex-start;
  margin-left: -100px;
  gap: 30px;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: #2392d1;
  color: white;
}

aside {
  font-weight: bold;
  color: white;
  background-color: #2392d1;
  grid-column: 1 / span 2;
  grid-row: 1 / span 11;
  /* grid container */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;
}

.title {
  padding-left: 16px;
  display: flex;
  color: white;
  align-items: center;
  gap: 8px;
  /* grid-row: 1; */
}

aside ul {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(20, 1fr);
}

.spacing {
  /* height: 3rem; */
}

.menu img {
  height: 60%;
  margin-right: 16px;
  filter: brightness(0) invert(1);
  float: left;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.title img {
  height: 50px;
  filter: brightness(0) invert(1);
}

main {
  background-color: #e1e7ef;
  grid-column: 3 / span 9;
  grid-row: 2 / span 5;
}
